* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #6527BE;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Playfair Display', serif;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    
}

.nameInput,
.searchInput {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 50px;
    background-color: #A7EDE7;
    height: 350px;
    width: 300px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.nbtn,
.sbtn {
    background-color: #4049e9;
    border: none;
    height: 30px;
    width: 70px;
    border-radius: 3px;
    cursor: pointer;
    color: white;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

#search,
#name {
    height: 30px;
    margin: 10px 0 0 0;
    border: none;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

ul {
    margin: 10px;
}